.dashboard-contact {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 128px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 80px 5%;
}

.dashboard-contact::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #508cae 11.91%,
    #9fbbca 60.54%,
    #e2e2e2 85.83%
  );
  z-index: 1;
}

.dashboard-contact-l {
  max-width: 400px;
  max-height: 400px;

}
.dashboard-contact-t,
.dashboard-contact-l,
.dashboard-contact-r {
  z-index: 5;
}

.dashboard-contact-t {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.dashboard-contact-t p {
  color: var(--White, var(--Tertiarry-Greyscale-Light, #fff));
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dashboard-contact-r {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dashboard-contact-r span {
  color: var(--White, var(--Tertiarry-Greyscale-Light, #fff));
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dashboard-contact-r p {
  color: var(--White, var(--Tertiarry-Greyscale-Light, #fff));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dashboard-contact-logos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard-contact-logos-item {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.dashboard-contact-logos-item span {
  color: var(--White, var(--Tertiarry-Greyscale-Light, #fff));
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
