.pd-container {
  padding: 80px 14%;
}

@media screen and (max-width: 1600px) {
  .pd-container {
    padding: 80 8%;
  }
}

@media screen and (max-width: 1200px) {
  .pd-container {
    padding: 60 4%;
  }
}

@media screen and (max-width: 768px) {
  .pd-container {
    padding: 48 2%;
  }
}
