@import url(./login-register/index.css);
@import url(./dashboard/index.css);
@import url(./layanan/index.css);
@import url(./util/index.css);

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Poppins;
}

body {
  min-height: 100%;
  position: relative;
  background: white;
}

main {
  min-height: 100vh;
  background: #fff;
}

span, p{
  color: #000;
}