.percakapan {
  display: flex;
  flex-direction: column;
}

.percakapan-container {
  display: flex;
  padding: 5px 20px;
  justify-content: center;
  gap: 10px;
  border-radius: 60px;
  border: 3px solid var(--gradient, #508cae);
  background: var(
    --gradient,
    linear-gradient(180deg, #508cae 0%, #e2e2e2 100%)
  );
  flex-direction: column;
  min-height: 50vh;
}
